<h1>Edit a user</h1>
<%= render partial: 'form'%>

<!--
<%= form_for @user, method: :put do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %> <br><br>
  <%= f.label :email %>
  <%= f.email_field :email %> <br><br>
  <%= f.label :password %>
  <%= f.text_field :password %> <br><br>
  <%= f.submit 'Update' %>
 
<% end %>
-->